h2 {
  color: whitesmoke;
  background-color: blue;
  font-family
}

.beef {
  color:whitesmoke;
  background-color: purple;
}

.butter {
  color:whitesmoke;
  background-color: orange;
}

.white {
  color:whitesmoke;
  background-color:green;
}